/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require bootstrap-theme
 *= require datetimepicker
 *= require_self
 */

html, body {
  height: 100%;
  background-color: #ffffff;
}

legend, h2 {
  text-align: left;
  font-size: 20px;
  line-height: 30px;
  color: #5cb85c;
  border-bottom: 1px solid #5cb85c;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -40px;
  /* Pad bottom by footer height */
  padding: 0 0 40px;
}

#wrap > .container {
  padding: 50px 15px 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-transform: lowercase;
  color: #5cb85c !important;
}

#loginform, #resetform, #registerform, #profile {
  margin-top: 40px;
}

#loginform form label {
  display: none;
}

#registrant-email {
  margin: 20px 0;
  font-size: 20px;
  line-height: 36px;
}

/* Position the strength meter */
.strength-meter {
  margin-top: 8px;
}

/* Set the different colors and sizes for strengths of 0-4 */
.progress .meter.w-0 {  width: 0%;  }
.progress .meter.w-1 {  background: red; width: 25%;  }
.progress .meter.w-2 {  background: orange; width: 50%;  }
.progress .meter.w-3 {  background: yellow; width: 75%;  }
.progress .meter.w-4 {  background: green; width: 100%;  }

#match-div {
  font-weight: bold;
  color: @red;
}

#match-div.match {
  color: @green;
}

#toggle-password-field {
  margin-left: 10px;
}

/* Set the fixed height of the footer here */
#footer {
  text-align: right;
  height: 40px;
}

#footer p {
  line-height: 40px;
}

#footer p a {
  text-decoration: none;
}

#footer p a:hover {
}
