#user

script#user-tmpl type="text/x-handlebars-template"
  .row
    .col-lg-8
      h1 
        input.ipeditor type="text" name="user.name" id="user_name" value="{{name}}" data-val="{{name}}" data-url="/api/user" placeholder="Name required"
      p.address
        textarea.ipeditor name="user.address" id="user_address" data-url="/api/user" data-val="{{address}}" data-split="true" rows="{{rows address}}" placeholder="Add an address"
          | {{split address}}
      p.contact-info
        .phone
          input.ipeditor type="text" name="user.phone" id="user_phone" value="{{phone}}" data-val="{{phone}}" data-url="/api/user" placeholder="Add a phone number"
        .email
          input.ipeditor type="text" name="user.email" id="user_email" value="{{email}}" data-val="{{email}}" data-url="/api/user" placeholder="Email address required"
  .row
    .col-lg-8
      h2 Objective 
      p.objective
        textarea.ipeditor name="user.objective" id="user_objective" data-url="/api/user" data-val="{{objective}}" placeholder="Add an objective"
          | {{objective}}
  .row
    .col-lg-8
      h2 Education
      | {{#each schools}}
      .school
        p.dates
          span.from
            | {{from started_on}}
          ' -
          span.to
            | {{to left_on}}
        p.address
          strong
            | {{name}}
          br
          | {{{lionize address}}}
        p
          | {{#if highest_grade_completed}}
          #highest-grade-completed
            strong> Highest grade completed:
            ' {{highest_grade_completed}}
          | {{/if}}
          | {{#if graduated}}
          #graduated
            strong> Graduated?
            ' {{graduated}}
          | {{/if}}
          | {{#if awards}}
          #awards
            strong> Awards:
            ' {{{lionize awards}}}
          | {{/if}}
          | {{#if activities}}
          #activities
            strong> Activities:
            ' {{{lionize activities}}}
          | {{/if}}
      | {{/each}}
  .row
    .col-lg-8
      h2 Work Experience
      | {{#each jobs}}
      .job
        p.dates
          span.from
            | {{from started_on}}
          ' -
          span.to
            | {{to left_on}}
        p.address
          strong
            | {{#if position}}{{position}},{{/if}} {{company}}
          br
          | {{{lionize address}}}
        p
          | {{#if duties}}
          #duties
            strong> Duties:
            ul
              | {{{listify duties}}}
          | {{/if}}
      | {{/each}}
  .row
    .col-lg-8
      span.glyphicon.glyphicon-plus.add-award title="Add an award"
      h2 Honors and Awards
      | {{#each awards}}
      .awards-rows.row id="{{id}}"
        .name.col-lg-8
          input.ipeditor type="text" name="award.name" id="award_name" value="{{name}}" data-val="{{name}}" data-url="/api/awards/{{id}}" placeholder="Award name required"
        .awarded-on.col-lg-3
          input.ipeditor.datepicker type="text" data-date-format="mm/dd/yyyy" name="award.awarded_on" id="award_awarded_on" value="{{from awarded_on}}" data-val="{{awarded_on}}" data-url="/api/awards/{{id}}" placeholder="Date of award"
        .remove.col-lg-1
          span.glyphicon.glyphicon-remove.remove-icon title="Delete this award" data-url="/api/awards/" data-id="{{id}}"
      | {{/each}}
  .row
    .col-lg-8
      h2 Skills
      textarea.ipeditor name="user.skills" id="user_skills" data-url="/api/user" data-val="{{skills}}" data-split="true" rows="{{rows skills}}" placeholder="Add skills, one per line"
        | {{split skills}}
  .row
    .col-lg-8
      span.glyphicon.glyphicon-plus.add-reference title="Add a reference"
      h2 References
      | {{#each references}}
      .references-rows.row id="{{id}}"
        .name.col-lg-4
          input.ipeditor type="text" name="reference.name" id="reference_name" value="{{name}}" data-val="{{name}}" data-url="/api/references/{{id}}" placeholder="Name of reference required"
        .email.col-lg-4
          input.ipeditor type="text" name="reference.email" id="reference_email" value="{{email}}" data-val="{{email}}" data-url="/api/references/{{id}}" placeholder="Add email address"
        .phone.col-lg-3
          input.ipeditor type="text" name="reference.phone" id="reference_phone" value="{{phone}}" data-val="{{phone}}" data-url="/api/references/{{id}}" placeholder="Add phone number"
        .remove.col-lg-1
          span.glyphicon.glyphicon-remove.remove-icon title="Delete this reference" data-url="/api/references/" data-id="{{id}}"
      | {{/each}}

      
script#award-form-tmpl type="text/x-handlebars-template"
  #awards-form-modal.modal.fade tabindex="-1" role="dialog" aria-labelledby="awards-form-title" aria-hidden="true"
    .modal-dialog
      .modal-content
        = form_for :award, url: "/api/awards/{{id}}", method: "PUT", html: { role: "form", id: "award-add-form", autocomplete: :off } do |f|
          .modal-header
            button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
            h4#awards-form-title.modal-title Add a new award
          .modal-body
            .row
              .form-group.col-lg-6
                = f.label :name, "Name of award"
                = f.text_field :name, autofocus: true, class: "text clear form-control", placeholder: "Name"
              .form-group.col-lg-6
                = f.label :awarded_on, "Date of award"
                = f.text_field :awarded_on, id: "award_awarded_on", class: "datepicker clear form-control", placeholder: "Date"
          .modal-footer
            button.btn.btn-default type="button" data-dismiss="modal" Close
            input.btn.btn-primary type="submit" value="Create Award"
            
script#reference-form-tmpl type="text/x-handlebars-template"
  #reference-form-modal.modal.fade tabindex="-1" role="dialog" aria-labelledby="reference-form-title" aria-hidden="true"
    .modal-dialog
      .modal-content
        = form_for :reference, url: "/api/references/{{id}}", method: "PUT", html: { role: "form", id: "reference-add-form", autocomplete: :off } do |f|
          .modal-header
            button.close type="button" data-dismiss="modal" aria-hidden="true" &times;
            h4#reference-form-title.modal-title Add a new reference
          .modal-body
            .row
              .form-group.col-lg-6
                = f.label :name, "Name of reference"
                = f.text_field :name, autofocus: true, class: "text clear form-control", placeholder: "Name"
              .form-group.col-lg-6
                = f.label :email, "Email address"
                = f.text_field :email, class: "text clear form-control", placeholder: "Email"
            .row
              .form-group.col-lg-6
                = f.label :phone, "Phone number"
                = f.text_field :phone, class: "text clear form-control", placeholder: "Phone"
          .modal-footer
            button.btn.btn-default type="button" data-dismiss="modal" Close
            input.btn.btn-primary type="submit" value="Create Reference"
    
javascript:
  $(function() {
    var uuids = [];
    
    var getUuid = function() {
      if (uuids.length < 10) {
        $.ajax({
          method: 'GET',
          url: '/api/uuids/100',
          dataType: 'json',
          success: function(data) {
            uuids = $.merge(uuids, data['uuids']);
          }
        });
      }
      
      return uuids.pop();
    };
    
    getUuid();
  
    Handlebars.registerHelper('lionize', function(arr) {
      return arr.join('<br>');
    });

    Handlebars.registerHelper('listify', function(arr) {
      return '<li>' + arr.join('</li><li>') + '</li>';
    });
    
    Handlebars.registerHelper('split', function(arr) {
      return arr.join('\n');
    });
    
    Handlebars.registerHelper('rows', function(arr) {
      return arr.length;
    });

    Handlebars.registerHelper('from', function(dt) {
      return moment(dt).format('MMMM YYYY');
    });

    Handlebars.registerHelper('to', function(dt) {
      return dt ? moment(dt).format('MMMM YYYY') : 'present';
    });
    
    var getRows = function(str) {
      return str.split("\n").length;
    };
    
    var updateAttribute = function(e) {
      var item = $(this);
      var out = {};
      var atts = $(this).attr('name').split('.');
      var val = $(this).val();
      var orig = $(this).data('val');
      out[atts[0]] = {};
      out[atts[0]][atts[1]] = val;
      $.ajax({
        url: $(this).data('url'),
        method: 'PATCH',
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(out),
        success: function(data) {
          item.effect("highlight", { color: '#79f279' }, 3000);
          if (item.data('split')) { item.attr('rows', getRows(item.val())); }
          item.data('val', item.val());
        },
        error: function(xhr, status, err) {
          $.each(xhr.responseJSON, function(k,v) {
            noty({
              type: "error",
              text: v,
              timeout: "12000",
              layout: "bottom"
            });
          });
          item.val(orig);
          item.effect("highlight", { color: '#d9534f' }, 3000);
        }
      });
    };
    
    var removeItem = function(e) {
      var item = $(this);
      var itemId = item.data('id');
      var url = item.data('url') + itemId;
      var pElem = $('#' + itemId);
      
      $.ajax({
        url: url,
        method: 'DELETE',
        success: function(data) {
          pElem.find('input').each(function(k,v) { $(v).attr('style', 'background-color: transparent'); });
          pElem.effect("highlight", { color: '#f0ee4e' }, 1500, function() { pElem.remove(); });
        },
        failure: function(xhr) {
          noty({
            type: "error",
            text: "Unable to delete item.",
            timeout: "12000",
            layout: "bottom"
          });
        }
      });
    };
    
    var setDatepicker = function(dp) {
      dp.datepicker({
        changeMonth: true,
        changeYear: true,
        dateFormat: 'MM yy',

        onClose: function () {
          var iMonth = $("#ui-datepicker-div .ui-datepicker-month :selected").val();
          var iYear = $("#ui-datepicker-div .ui-datepicker-year :selected").val();

          $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
          $(this).datepicker('refresh');
        },

        beforeShow: function () {
          if ((selDate = $(this).val()).length > 0) 
          {
            iYear = selDate.substring(selDate.length - 4, selDate.length);
            iMonth = jQuery.inArray(selDate.substring(0, selDate.length - 5), $(this).datepicker('option', 'monthNames'));

            $(this).datepicker('option', 'defaultDate', new Date(iYear, iMonth, 1));
            $(this).datepicker('setDate', new Date(iYear, iMonth, 1));
          }
        }
      });

      dp.focus(function () {
        $(".ui-datepicker-calendar").hide();
        $("#ui-datepicker-div").position({
            my: "center top",
            at: "center bottom",
            of: $(this)
        });
      });

      dp.blur(function () {
       $(".ui-datepicker-calendar").hide();
      });
    };
    
    var createAward = function(e) {
      var form = $(this);
      var name = form.find('#award_name').val();
      var awarded_on = form.find('#award_awarded_on').val();
      console.log('Creating a new award...');
      
      $.ajax({
        method: 'PUT',
        url: form.attr('action'),
        contentType: 'application/json',
        data: JSON.stringify({ award: {name: name, awarded_on: awarded_on } }),
        success: function(data) {
          console.log('success!', form);
          $('#awards-form-modal').modal('hide');
          $('#awards-form-modal').remove();
        }
       });
      e.preventDefault();
    };
    
    var createReference = function(e) {
      console.log('create a new reference',
        $(this).find('#reference_name').val(),
        $(this).find('#reference_email').val(),
        $(this).find('#reference_phone').val());

      $(this).remove();
      e.preventDefault();
    };
    
    var addAward = function(e) {
      var item = $(this);
      var template = Handlebars.compile($('#award-form-tmpl').html());
      $(template({id: getUuid()}))
        .modal()
        .on('show.bs.modal', function(e) {
          console.log('show.bs.modal for awards',$(this).find('#award-add-form'));
          var datepicker = $(this).find('.datepicker');
          setDatepicker(datepicker);
          $(this).find('#award-add-form').on('submit', createAward);
        }).modal('show');
    };
    
    var addReference = function(e) {
      var item = $(this);
      var template = Handlebars.compile($('#reference-form-tmpl').html());
      $(template({id: getUuid()}))
        .modal()
        .on('show.bs.modal', function(e) {
          console.log('show.bs.modal for references',$(this).find('#reference-add-form'));
          $(this).find('#reference-add-form').on('submit', createReference);
        }).modal('show');
    };
  
    $.ajax({
      url: '/api/user',
      method: 'GET',
      contentType: 'application/json',
      dataType: 'json',
      success: function(data) {
        var user = data["user"];
        
        var template = Handlebars.compile($('#user-tmpl').html());
        $('#user').html(template(user));
        
        $('.ipeditor').on('change', updateAttribute);
        setDatepicker($('.datepicker'));
        $('.remove-icon').on('click', removeItem);
        $('.add-award').on('click', addAward);
        $('.add-reference').on('click', addReference);
      }
    });
  });