.navbar.navbar-inverse.navbar-fixed-top
  .container
    = link_to_unless_current "ToddyCat", root_url, class: "navbar-brand logo" do
      = content_tag :span, "ToddyCat", class: "navbar-brand logo"
    